body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #222529;
	color: #dadada;
}

#root {
	width: 92vw;
	margin: auto;
}

.form {
	margin-top: 15px;
	height: 7vh;
	display: flex;
	flex-direction: row;
	padding: 2px;
}

.todo-input {
	flex-grow: 2;
	width: 100%;
	padding-right: 66px;
	font-size: 1rem;
	letter-spacing: 1px;
	text-align: center;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid transparent;
	color: #dadada;
	background-color: #3d4248;
}

.todo-input::placeholder {
	font-style: italic;
	color: rgb(184, 179, 179, .3);
}

.todo-input:focus {
	outline: none;
}

.add-btn {
	margin-left: -66px;
	width: 4rem;
	font-size: 38px;
	background-color: #00aeb1;
	color: #dadada;
	border: none;
	transition: all .3s linear;
}

.add-btn:disabled {
	background-color: #3d4248;
	color: #707070;
}

.add-btn:hover:enabled{
	cursor: pointer;
}

ul {
	padding: 0;
}

.list-item {
	overflow-x: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px auto;
	font-size: .8rem;
	height: 45px;
	width: 100%;
	background-color: #3d4248;
}

.list-item p {
	margin: 0 10px;
	letter-spacing: 2px;
}

.active {
	opacity: .9;
	font-style: normal;
	text-decoration: none;
}

.complete {
	opacity: .3;
	font-style: italic;
	text-decoration: line-through;
	transition: all .5s linear;
}

.delete-btn {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 12px;
	font-size: 20px;
	color: #e0dddd;
	border: none;
	background-color: tomato;
	transition: all .3s linear;
	opacity: 1;
}

.delete-btn:hover:enabled {
	cursor: pointer;
}

.delete-btn:disabled {
	opacity: 0;
}

@media (min-width: 1281px) {
  #root {
		width: 45vw;
	}

	.list-item {
		margin: 12px auto;
		height: 60px;
		font-size: 1.3rem;
	}

	.delete-btn {
		padding: 0 25px;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #root {
		width: 60vw;
	}

	.list-item {
		margin: 12px auto;
		height: 60px;
		font-size: 1.3rem;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#root {
		width: 65vw;
	}
}